.header {
  background-color: white;
  width: 100%;
  padding: 10px;
  position: fixed;
  top: 0;
  box-shadow: 0 0 10px 0 rgba(40, 44, 52, 0.8);
}

.img {
  width:30px;
	height:30px;
	object-fit:cover;
	border-radius:50%;
  padding: 0 0px 0 0px;
}

.change {
  display: flex;
  justify-content: right;
  padding: 0 20px 0 0;
}

.drawerbutton {
  padding: 0 20px 0 20px;
}

.drawer {
  height: 300px;
  text-align: center;
  align-items: center;
}